.center{
    text-align: center;
}


.container{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: left;
    

}

.containersub{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

.text{

    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}

#menu li{
    display: inline;
    padding: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#menu li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#menu li a:hover{
    color: grey;
    font-size: 20px;
}

.im-model{

    border-radius: 15px;
    height:300px;
    width:350px;
}

.padding{
    padding: 50px;
}

.marginbuttom{
    margin-bottom: 50px;
}

.marginleft{
    margin-left: 50px;
}

.tm-social{

    width: 50px;
    height: 50px;
    padding: 30px;

}
#background{
    background-color: #f8efed;
}


/* PAGINA CURIOSIDADES */

#menuCR li{
    display: inline;
    padding: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#menuCR li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#menuCR li a:hover{
    color: white;
    font-size: 20px;
}

.containerCR{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: left;
    color: white;

}

.containersubCR{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;

}

.textCR{

    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    

}


.rodapeCR{

    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;

}